/**
 *  Typography - _Link
 */

.link {
  color: $color-interactive;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &--no-color {
    color: inherit;
  }

  &--no-decoration {
      text-decoration: none;
  }
}