/**
 *  Variables - _Fonts
 */

$font-family--main: "Open Sans", sans-serif;
$font-family--title: "Lobster", serif;

$font-weight--main: 400;
$font-weight--title: 400;

$font-size--main: 14px;
$font-size--title-1: 45px;
$font-size--title-2: 35px;
$font-size--title-3: 25px;
$font-size--title-4: 22px;
$font-size--title-5: 20px;
$font-size--title-6: 18px;

$font-line-height--main: 1.3em;
$font-line-height--large: 1.2em;
