{#
 #  Article - Delete Form
 #}

<form method="post" action="{{ path('article_delete', {'id': article.id}) }}" class="form"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');">

    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">

    <button class="btn btn--danger">
        <span class="btn__text">Supprimer</span>
    </button>
</form>
